.info-container {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  /* Стили для мобильных устройств */
  .info-container {
    width: 10px;
    margin: 100px;
  }
}